<div class="container">
    <div class="jumbotron text-center bg-primary">
        <h1>Eat Da Burger!</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card border border-primary rounded bg-success">
                <div class="card-header text-white bg-primary">
                    Order Here
                </div>
                <div class="card-body order-form">
                    <form class="create-form">
                        <div class="form-group">
                            <label for="burger">What kind of burger would you like?</label>
                            <input type="text" class="form-control" id="burger-order">
                        </div>
                        <button class="btn btn-warning" type="submit">Place Order</buton>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <br>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 mt-4">
            <div class="ordered-burgers card border border-primary rounded">
                <div class="card-header bg-primary text-white">
                    Ordered Burgers
                </div>
                <div class="card-body burger">
                    {{#each burgers}}
                      {{#unless devoured}}
                        {{> burgers/burger-block devour=false }}
                      {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="card border border-primary rounded" id="devoured-card">
                <div class="card-header text-white bg-primary" id="devoured-card-header">
                    Burgers that have been devoured!
                </div>
                <div class="card-body burger">
                    {{#each burgers}}
                      {{#if devoured}}
                        {{> burgers/burger-devoured devour=true}}
                      {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>



</div>